description = "blog"

[viewBag]
==
<div class="section" id="reviews" style="padding-top:80px; padding-bottom:50px; background-color:#fff">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- Two Third (2/3) Column -->
            <div class="column two-third column_column">
                <div class="column_attr ">
                    <h2 style="margin: 0 0 50px; text-align: center;">BLOG - NOTICIAS - REFLEXIONES</h2>
                                            
                    <!-- One Second (1/2) Column -->
                    <div class="column one-second">
                        <div class="blockquote">
                            <p class="author">
                                <i class="icon-user"></i><a href="http://willymartinezsanchez.com/blog">Testimonio del Retiro Siempre Firmes en la Fe</a>
                            </p>
                            <blockquote>
                                El retiro Siempre Firmes en la Fe ha marcado un hito en nuestra labor pastoral en favor de la extensión del Reino de Dios.
                            </blockquote>
                        </div>
                    </div>
                                            
                    <!-- One Second (1/2) Column -->
                    <div class="column one-second">
                        <div class="blockquote">
                            <p class="author">
                                <i class="icon-user"></i><a href="http://willymartinezsanchez.com/blog">Semillas para un matrimonio feliz</a>
                            </p>
                            <blockquote>
                                El matrimonio es un don y una bendición. No existe la pareja perfecta, de cuento de hadas, que pueda cubrir todas mis expectativas y compensar todas mis carencias.
                            </blockquote>
                        </div>
                    </div>
                                            
                    <!-- One Second (1/2) Column -->
                    <div class="column one-second">
                        <div class="blockquote">
                            <p class="author">
                                <i class="icon-user"></i><a href="http://willymartinezsanchez.com/blog">Siguiendo estrellas para ser feliz</a>
                            </p>
                            <blockquote>
                                "Al ver la estrella se llenaron de inmensa alegría" (Mateo2,10).
Muchas veces vamos por la vida medio desorientados, buscamos respuestas y tratamos de dar solución a multiples preocupaciones.
Vivir es peregrinar, vivir es caminar un recorrido donde l
                            </blockquote>
                        </div>
                    </div>
                                            
                    <!-- One Second (1/2) Column -->
                    <div class="column one-second">
                        <div class="blockquote">
                            <p class="author">
                                <i class="icon-user"></i><a href="http://willymartinezsanchez.com/blog">Secreto para tener el mejor año de tu vida.</a>
                            </p>
                            <blockquote>
                                Siempre al inicio de todo año, las personas realizan propósitos y anhelan un cambio que mejore sus vidas.
                            </blockquote>
                        </div>
                    </div>
                                    </div>
            </div>
            <!-- One Third (1/3) Column -->
            <div class="column one-third column_image">
                <!-- Animated area -->
                <div class="animate fadeInRight" data-anim-type="fadeInRight">
                    <div class="image_frame no_link scale-with-grid no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="images/blog.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>