description = "blog"

[viewBag]

[builderList]
modelClass = "LuisMayta\Intranet\Models\Blog"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = 4
detailsPage = "post"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<div class="section" id="reviews" style="padding-top:80px; padding-bottom:50px; background-color:#fff">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- Two Third (2/3) Column -->
            <div class="column two-third column_column">
                <div class="column_attr ">
                    <h2 style="margin: 0 0 50px; text-align: center;">BLOG - NOTICIAS - REFLEXIONES</h2>
                    {% for record in records %}               
                    <!-- One Second (1/2) Column -->
                    <div class="column one-second">
                        <div class="blockquote">
                            <p class="author">
                                <i class="icon-user"></i><a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">{{record.titulo}}</a>
                            </p>
                            <blockquote>
                                {{record.resumen}}
                            </blockquote>
                        </div>
                    </div>
                    {% endfor %}               
              
                 </div>
            </div>
            <!-- One Third (1/3) Column -->
            <div class="column one-third column_image">
                <!-- Animated area -->
                <div class="animate fadeInRight" data-anim-type="fadeInRight">
                    <div class="image_frame no_link scale-with-grid no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="/storage/app/media/blog.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>