description = "eventos"

[viewBag]

[builderList]
modelClass = "LuisMayta\Intranet\Models\Evento"
scope = "scopeEventos"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = 4
detailsPage = "evento"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}



<div class="section" style="padding-top:50px; padding-bottom:60px; background-color:#ededed">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- One full width row-->
            <div class="column one column_column">
                <div class="column_attr align_center">
                    <h2 class="hrmargin_0">PRÓXIMOS EVENTOS!!</h2>
                </div>
            </div>
            {% for record in records %} 
            <!-- One Third (1/2) Column -->
            <div class="column one-second column_article_box">
                <div class="article_box">
                    <!-- Animated area -->
                    <div class="animate zoomIn" data-anim-type="zoomIn">
                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                            <div class="photo_wrapper">
                                <img class="scale-with-grid" src="{{record.imagen.path}}" alt="{{record.titulo}}">
                            </div>
                            <div class="desc_wrapper">
                                <p>
                                    <i class="fas fa-calendar-alt"></i>  {{record.fechainicio|date('d-m-Y')}}
                                </p>
                                <h4>{{record.titulo}} </h4>
                                {{record.resumen}}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% if loop.index%2==0 %}
                    <div class="column one column_divider"><hr class="no_line"></div>
            {% endif %}
            {% endfor %}        

        </div>
    </div>
</div>