description = "frase2"

[viewBag]
==
<div class="section" style="padding-top:70px; padding-bottom:20px; background-color:#000046">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- One full width row-->
            <div class="column one column_column">
                <div class="column_attr align_center">
                    <h2 style="font-style: italic; margin-bottom: 35px; color:#fff">Siempre Firmes en la Fe</h2>
                    <h3 style="color:white">Willy Martinez Sánchez</h3>
                </div>
            </div>
        </div>
    </div>
</div>