description = "productos"

[viewBag]

[builderList]
modelClass = "LuisMayta\Intranet\Models\Material"
scope = "scopeTopCuatro"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "detalle"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="section sections_style_3">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- One full width row-->
            <div class="column one column_column">
                <div class="column_attr align_center">
                    <h2 style="border-bottom: 4px solid #21437D; display: inline-block; padding: 0 20px 10px;">Material para formación Católica</h2>
                </div>
            </div>
            {% for record in records %}
            <!-- One Fourth (1/4) Column -->
            <div class="column one-fourth column_icon_box">
                <!-- Animated area -->
                <div class="animate zoomIn" data-anim-type="zoomIn">
                    <div class="icon_box icon_position_top no_border">
                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                            <div class="image_wrapper"><img src="{{record.imagen.path}}" alt="" class="scale-with-grid">
                            </div>
                            <div class="desc_wrapper">
                                <div class="desc">
                                    <h3 style="margin: 0">{{record.titulo}}</h3>
                                    <p class="themecolor" style="margin: 0 0 5px; font-style: italic;">
                                        {{record.tipo}}, {{record.categoria}}, {{record.year}}
                                    </p>
                                    <p>{{record.resumen}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>