description = "Diseño de pagina"
==
<!DOCTYPE html>
<html class="no-js" lang="es">
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Willy Martinez Sanchez</title>
    <meta name="description" content="Predicador Catolico">
    <meta name="author" content="Willy Martinez">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico'| theme }}">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Crimson+Text:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One" >
    <link rel="stylesheet" href="{{ 'assets/css/all.css'| theme }}">
    <!-- CSS -->
    <link rel='stylesheet' href='{{ "assets/css/global.css"| theme }}'>
    <link rel='stylesheet' href='{{ "assets/css/structure.css"| theme }}'>
    <link rel='stylesheet' href='{{ "assets/css/book.css"| theme }}'>
    <link rel='stylesheet' href='{{ "assets/css/custom.css"| theme }}'>

    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = '65420d5f4bd689476082124f8beb065e589c4b29';
        window.smartsupp||(function(d) {
        var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
        s=d.getElementsByTagName('script')[0];c=d.createElement('script');
        c.type='text/javascript';c.charset='utf-8';c.async=true;
        c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
        })(document);
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130052053-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130052053-1');
    </script>

</head>

<body class="home page layout-full-width header-creative header-open minimalist-header sticky-white no-content-padding">
    <div id="Header_creative">
        <a href="#" class="creative-menu-toggle"><i class="icon-menu"></i></a>
        <!--Social info area-->
        <ul class="social creative-social"></ul>
        <div class="creative-wrapper">
            <!-- Header -  Logo and Menu area -->
            <div id="Top_bar">
                <div class="one">
                    <div class="top_bar_left">
                        <!-- Logo-->
                        <div class="logo">
                            <h1><a id="logo" href="/" title="Willy Martinez Sanchez"><img class="scale-with-grid" src="{{ 'assets/images/book.png'| theme }}" alt="Willy Martinez Sanchez" /></a></h1>
                        </div>
                        <!-- Main menu-->
                        {% partial 'menu' %}
                        <!-- Header Searchform area-->
                        <div class="search_wrapper">
                            <form method="get" action="#">
                                <i class="icon_search icon-search"></i><a href="#" class="icon_close"><i class="icon-cancel"></i></a>
                                <input type="text" class="field" name="s" placeholder="Enter your search" />
                                <input type="submit" class="submit flv_disp_none" value="" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top -  Info Area -->
            <div id="Action_bar">
                <!--Social info area-->
                <ul class="social"></ul>
            </div>
        </div>
    </div>
    <!-- Main Theme Wrapper -->
    <div id="Wrapper">
        <!-- Header Wrapper -->
        <div id="Header_wrapper">
            <!-- Header -->
            <header id="Header"></header>
        </div>
        <!-- Main Content -->
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        {% page %}
                        <div class="section full-width dark sections_style_0 ">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One full width row-->
                                    <div class="column one column_hover_color">
                                        <div class="hover_color" style="background:#0c0c63;">
                                            <div class="hover_color_bg" style="background:#000046;">
                                                <a href="/material">
                                                    <div class="hover_color_wrapper">
                                                        <h2 style="margin: 20px 0;">QUIERES COMPRAR MATERIAL CATÓLICO HAZ CLIC AQUI</h2>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer id="Footer" class="clearfix">
            <!-- Footer copyright-->
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <a id="back_to_top" href="#" class="button button_left button_js"><span class="button_icon"><i class="icon-up-open-big"></i></span></a>
                        <div class="copyright">
                            &copy; 2017 BeBook - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow" href="http://bit.ly/1M6lijQ">BeantownThemes</a>
                        </div>
                        <!--Social info area-->
                        <ul class="social"></ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JS -->
    <script src="{{ 'assets/js/jquery-2.1.4.min.js'|theme }}"></script>

    <script src="{{ 'assets/js/mfn.menu.js'|theme }}"></script>
    <script src="{{ 'assets/js/jquery.plugins.js'|theme }}"></script>
    <script src="{{ 'assets/js/jquery.jplayer.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/animations/animations.js'|theme }}"></script>
    <script src="{{ 'assets/js/scripts.js'|theme }}"></script>

    <script>
        jQuery(window).load(function() {
            var retina = window.devicePixelRatio > 1 ? true : false;
            if (retina) {
                var retinaEl = jQuery("#logo img");
                var retinaLogoW = retinaEl.width();
                var retinaLogoH = retinaEl.height();
                retinaEl.attr("src", "images/retina-book.png").width(retinaLogoW).height(retinaLogoH)
            }
        });
    </script>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
</body>

</html>