title = "blog"
url = "/blog"
layout = "pagina"
is_hidden = 0

[builderList]
modelClass = "LuisMayta\Intranet\Models\Blog"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "post"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
<?php
function onStart()
{
    $this['class_blog'] = 'current_page_item';
}
?>
==
{% set records = builderList.records %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<div class="section" style="padding-top:90px; padding-bottom:40px; background-color:#75aaeb">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- One full width row-->
            <div class="column one column_fancy_heading">
                <div class="fancy_heading fancy_heading_icon">
                    <h2 class="title">VIDEOS, REFLEXIONES, NOTICIAS Y MUCHO MÁS</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) -->
<div class="section" style="padding-top:60px; padding-bottom:20px; background-color:#fff">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">            
                <!-- One Second (1/2) Column -->
                <div class="column one-second column_image">
                    <div class="image_frame no_link scale-with-grid no_border aligncenter">
                        <div class="image_wrapper"><img class="scale-with-grid" src="{{records[0].imagen.path}}" alt="">
                        </div>
                    </div>
                </div>
                <!-- One Second (1/2) Column -->
                <div class="column one-second column_column">
                    <div class="column_attr ">
                        <h2 style="margin-bottom: 7px; margin-top: 15px;">{{records[0].titulo}}</h2>
                        <p class="big themecolor">
                            {{records[0].tipo}}
                        </p>
                        <p>
                            {{records[0].descripcion| raw}}
                        </p>
                        <hr class="no_line hrmargin_b_20">
                        
                        <a class="mfn-link mfn-link-4 " href="{{ detailsPage|page({ (detailsUrlParameter): attribute(records[0], detailsKeyColumn) }) }}" data-hover="READ MORE"><span data-hover="READ MORE">Detalles</span></a>
                      
                    </div>
                </div>
            <!-- Page devider -->
            <!-- One full width row-->
            <div class="column one column_divider">
                <hr class="no_line">
            </div>
            {% for record in records %}     
                {% if loop.index0!=0 %}
                    <!-- One Fourth (1/4) Column -->
                    <div class="column one-fourth column_icon_box">
                        <div class="icon_box icon_position_top no_border">
                            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                <div class="image_wrapper"><img src="{{record.imagen.path}}" alt="" class="scale-with-grid">
                                </div>
                                <div class="desc_wrapper">
                                    <div class="desc">
                                        <h3 style="margin: 0">{{record.titulo}}</h3>
                                        <p style="margin: 0 0 5px; font-style: italic;" class="themecolor">
                                            {{record.tipo}}<br>
                                            {{record.precio}}
                                        </p>
                                        {{record.resumen}}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}                                      
        </div>
    </div>
</div>