title = "Curso"
url = "/curso/:slug"
layout = "pagina"
is_hidden = 0

[builderDetails]
modelClass = "LuisMayta\Intranet\Models\CursosVirtuales"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "id"
notFoundMessage = "Record not found"

[PermissionsCourse]

[Pasarela]
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}


<div class="section" style="padding-top:90px; padding-bottom:40px; background-color:#75aaeb">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- One full width row-->
            <div class="column one column_fancy_heading">
                <div class="fancy_heading fancy_heading_icon">
                    <h2 class="title text-uppercase">CURSOS VIRTUALES</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% if record %}
    <div class="section" style="padding-top:60px; padding-bottom:20px; background-color:#fff">
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <!-- One Second (1/2) Column -->
                <div class="column one-second column_image">
                    <div class="image_frame no_link scale-with-grid no_border aligncenter">
                        <div class="image_wrapper"><img class="scale-with-grid" src="{{record.imagen.path}}" alt="">
                        </div>
                    </div>
                    
                </div>
                <!-- One Second (1/2) Column -->
                <div class="column one-second column_column">
                    <div class="column_attr ">
                        <h2 style="margin-bottom: 7px; margin-top: 15px;">{{record.nombre}}</h2>
                        <p>
                            <div style="margin-top: 1rem;">
                                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                    <a class="a2a_button_facebook"></a>
                                    <a class="a2a_button_twitter"></a>
                                    <a class="a2a_button_pinterest"></a>
                                    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                                </div>
                            </div>
                        </p>
                        <p class="big themecolor">
                            {% if record.precio>0 %}
                            Precio S/{{record.precio}}
                            {% else %}
                                Gratuito
                            {% endif %}
                        </p>
                        <p>
                            {{record.resumen}}
                        </p>
                        <hr class="no_line hrmargin_b_20">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section mcb-section  section-border-top " style="padding-top:40px; padding-bottom:0px;">
        <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner"> 
                    {% if mostrar_audios %}
                        {% for item in record.audios %}
                        <div class="column mcb-column one column_helper">
                            <div class="helper">
                                <div class="helper_header">
                                    <h4 class="title">{{item.titulo_audio}}</h4>
                                </div>
                            </div>
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix"><img class="scale-with-grid" src="images/item_helper_arrow.png" alt="" style="margin-right:10px;"> 
                                    {{item.codigo_audio|raw}}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div id="myDiv"></div>
                        <div class="accordion">
                            <div class="mfn-acc accordion_wrapper open1st toggle">
                                <div class="question">
                                    <div class="title">
                                        <i class="fa fa-plus acc-icon-plus"></i><i class="fas fa-minus acc-icon-minus"></i>Pagar con tarjeta de Credito o debito
                                    </div>
                                    <div class="answer" style="display: none;">
                                        <p>{% component 'Pasarela' %} </p>
                                    </div>
                                </div>
                                <div class="question">
                                    <div class="title">
                                        <i class="fa fa-plus acc-icon-plus"></i><i class="fas fa-minus acc-icon-minus"></i>Deposito Bancario
                                    </div>
                                    <div class="answer">
                                            <p>Puedes hacer un deposito en las siguientes cuentas </p>
                                            <div class="column mcb-column one-second column_list">
                                                <div class="list_item lists_2 clearfix">
                                                    <a href="#">
                                                        <div class="list_left list_image"><img src="{{'bcp.png'|media}}" class="scale-with-grid" alt="home_betheme_icon_1" width="100" height="100">
                                                        </div>
                                                        <div class="list_right">
                                                            <h4>BCP</h4>
                                                            <div class="desc">Wilfredo Martinez Sánchez </br>
                                                                0011-0360-0200692339 CCI: 011-360-000200692339-51
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="column mcb-column one-second column_list">
                                                <div class="list_item lists_2 clearfix">
                                                    <a href="#">
                                                        <div class="list_left list_image"><img src="{{'bbva.jpg'|media}}" class="scale-with-grid" alt="home_betheme_icon_1" width="100" height="100">
                                                        </div>
                                                        <div class="list_right">
                                                            <h4>BBVA</h4>
                                                            <div class="desc">Wilfredo Elias Martinez Sánchez</br>
                                                                194-91835070094 CCI:00219419183507009496
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>                                        
                                    </div>
                                </div>
                                <div class="question">
                                    <div class="title">
                                        <i class="fa fa-plus acc-icon-plus"></i><i class="fas fa-minus acc-icon-minus"></i>Yapeame al BCP
                                    </div>
                                    <div class="answer">
                                        <p>
                                            <span class="big">Como yapear con tu cel. <a target="_blank" href="https://www.youtube.com/watch?v=dh_i_D8r5XM">Ejemplo</a> </span>
                                        </p>
                                        <p>
                                            <div class="photo_wrapper">
                                                <a ><img width="300px" class="scale-with-grid" src="{{ 'qr.jpeg'|media}}" alt="img">
                                                </a>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    {% endif %}
                </div>
            </div>    
        </div>
    </div>


{% else %}
    {{ notFoundMessage }}
{% endif %}