title = "Cursos virtuales"
url = "/cursos-virtuales/:page?"
layout = "pagina"
is_hidden = 0

[builderList]
modelClass = "LuisMayta\Intranet\Models\CursosVirtuales"
scope = "scopeOcultar"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 3
pageNumber = "{{ :page }}"
==
<?php
function onStart()
{
    $this['class_cursos_virtuales'] = 'current_page_item';
}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}



<div class="section" style="padding-top:90px; padding-bottom:40px; background-color:#75aaeb">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- One full width row-->
            <div class="column one column_fancy_heading">
                <div class="fancy_heading fancy_heading_icon">
                    <h2 class="title text-uppercase">CURSOS VIRTUALES</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" style="padding-top:60px; padding-bottom:20px; background-color:#fff">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            {% for record in records %}
                <!-- One Third (1/3) Column -->
                <div class="column one-third column_image">
                    <div class="image_frame no_link scale-with-grid no_border aligncenter">
                        <div class="image_wrapper"><img class="scale-with-grid" src="{{record.imagen.path}}" alt="">
                        </div>
                    </div>
                </div>
                <!-- Two Third (2/3) Column -->
                <div class="column two-third column_column">
                    <div class="column_attr ">
                        <h2 style="margin-bottom: 7px; margin-top: 7px;"> <a href="/curso/{{record.slug}}">{{ record.nombre }}</a></h2>
                        <p class="big themecolor">  
                            {% if record.precio>0 %}
                                Precio S/. {{record.precio|number_format(2, '.', ',')}}
                            {% else %}
                                Gratuito
                            {% endif %}
                        </p>
                            
                        
                        <p>
                            {{record.resumen}}
                        </p>
                    </div>
                </div>
                <!-- One full width row-->
                <!-- Page devider -->
                <div class="column one column_divider">
                    <hr class="no_line">
                </div>
            {% else %}
                {{ noRecordsMessage }}
            {% endfor %}
        </div>
    </div>
</div>
<div class="section" style="padding-top:60px; padding-bottom:20px; background-color:#fff">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one pager_wrapper">
                <div class="pager">
                    <div class="pages">
                    {% if records.lastPage > 1 %}
                        {% if records.currentPage > 1 %}
                            <span class="page-numbers"><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; </a></span>
                        {% endif %}
                        {% for page in 1..records.lastPage %}
                            <span class="page-numbers {{ records.currentPage == page ? 'current' : null }}">
                                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                            </span>
                        {% endfor %}
                        {% if records.lastPage > records.currentPage %}
                            <span class="page-numbers"><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}"> &rarr;</a></span>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>