title = "Material"
url = "/material"
layout = "pagina"
is_hidden = 0

[builderList Destacado]
modelClass = "LuisMayta\Intranet\Models\Material"
scope = "scopeDestacado"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = 1
detailsPage = "detalle"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "id"

[builderList Materiales]
modelClass = "LuisMayta\Intranet\Models\Material"
scope = "scopeMateriales"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "detalle"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
<?php
function onStart()
{
    $this['class_material'] = 'current_page_item';
}
?>
==
{% set records = Destacado.records %}
{% set detailsPage = Destacado.detailsPage %}
{% set detailsKeyColumn = Destacado.detailsKeyColumn %}
{% set detailsUrlParameter = Destacado.detailsUrlParameter %}

{% set records2 = Materiales.records %}
{% set detailsPage2 = Materiales.detailsPage %}
{% set detailsKeyColumn2 = Materiales.detailsKeyColumn %}
{% set detailsUrlParameter2 = Materiales.detailsUrlParameter %}



<div class="section" style="padding-top:90px; padding-bottom:40px; background-color:#75aaeb">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- One full width row-->
            <div class="column one column_fancy_heading">
                <div class="fancy_heading fancy_heading_icon">
                    <h2 class="title">MATERIAL CATÓLICO</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" style="padding-top:60px; padding-bottom:20px; background-color:#fff">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
        {% for record in records %}
            <!-- One Second (1/2) Column -->
            <div class="column one-second column_image">
                <div class="image_frame no_link scale-with-grid no_border aligncenter">
                    <div class="image_wrapper"><img class="scale-with-grid" src="{{record.imagen.path}}" alt="">
                    </div>
                </div>
            </div>
            <!-- One Second (1/2) Column -->
            <div class="column one-second column_column">
                <div class="column_attr ">
                    <h2 style="margin-bottom: 7px; margin-top: 15px;">{{record.titulo}}</h2>
                    <p class="big themecolor">
                        {{record.tipo}}, {{record.year}}
                    </p>
                    <p>
                        {{record.descripcion| raw}}
                    </p>
                    <hr class="no_line hrmargin_b_20">
                    
                    <a class="mfn-link mfn-link-4 " href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" data-hover="READ MORE"><span data-hover="READ MORE">Detalles</span></a>
                  
                </div>
            </div>
            {% endfor %}
            <!-- Page devider -->
            <!-- One full width row-->
            <div class="column one column_divider">
                <hr class="no_line">
            </div>
            {% for record2 in records2 %}                
                <!-- One Fourth (1/4) Column -->
                <div class="column one-fourth column_icon_box">
                    <div class="icon_box icon_position_top no_border">
                        <a href="{{ detailsPage2|page({ (detailsUrlParameter2): attribute(record2, detailsKeyColumn2) }) }}">
                            <div class="image_wrapper"><img src="{{record2.imagen.path}}" alt="" class="scale-with-grid">
                            </div>
                            <div class="desc_wrapper">
                                <div class="desc">
                                    <h3 style="margin: 0">{{record2.titulo}}</h3>
                                    <p style="margin: 0 0 5px; font-style: italic;" class="themecolor">
                                        {{record2.tipo}},{{record2.categoria}} {{record2.year}} <br>
                                        {{record2.precio}}
                                    </p>
                                    {{record2.resumen}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% if loop.index%4==0 %}
                    <div class="column one column_divider"><hr class="no_line"></div>
                {% endif %}
            
            {% endfor %}                                      
        </div>
    </div>
</div>